<div class="row">
    <div class="col-md-6" id="containerDiv">
        <form [formGroup]="bankclientForm">
            <div class="form-group mb-4">
                <label for="nev">Név</label>
                <input type="text" class="form-control" id="nev" formControlName="nev" placeholder="Név Helye">
                <div class="text-danger">
                    <small *ngIf="f['nev'].errors">Adjon meg megfelelő nevet!</small>
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="szuletesihely">Születési hely</label>
                <input type="date" class="form-control" id="szuletesihely" formControlName="szuletesihely">
                <div class="text-danger">
                    <small *ngIf="f['szuletesihely'].errors">Kötelező adat!</small>
                </div>
            </div>


            <div class="form-group mb-4">
                <label for="accountnumber">Számlaszám</label>
                <input type="text" class="form-control" id="accountnumber" formControlName="accountnumber" placeholder="123456">
                <div class="text-danger">
                    <small *ngIf="f['szamlaszam'].errors">HIBA</small>
                </div>
            </div>



            <button class="btn btn-primary" (click)="createBankclient()" [disabled]="bankclientForm.invalid">
                Mentés
            </button>
        </form>
    </div>
</div>