<div class="row">
    <div class="col-md-6" id="containerDiv">
        <form [formGroup]="transactionForm">
            <div class="form-group mb-4">
                <label for="transactionid">Transaction ID</label>
                <input type="text" class="form-control" id="transactionid" formControlName="transactionid" placeholder="Tranzakció azonosító">
                <div class="text-danger">
                    <small *ngIf="f['transactionid'].errors">Hibás tranzakció azonosító</small>
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="accountNumber1">1. Bankszámlaszám</label>
                <input type="text" class="form-control" id="accountNumber1" formControlName="accountNumber1">
                <div class="text-danger">
                    <small *ngIf="f['accountNumber1'].errors">Kötelező adat!</small>
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="accountNumber2">2. Bankszámlaszám</label>
                <input type="text" class="form-control" id="accountNumber2" formControlName="accountNumber2">
                <div class="text-danger">
                    <small *ngIf="f['accountNumber2'].errors">Kötelező adat!</small>
                </div>
            </div>


            <div class="form-group mb-4">
                <label for="sumOfTransaction">Tranzakció összege (FT)</label>
                <input type="number" class="form-control" id="sumOfTransaction" formControlName="sumOfTransaction" placeholder="123456">
                <div class="text-danger">
                    <small *ngIf="f['sumOfTransaction'].errors">HIBA</small>
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="description">Leírás</label>
                <input type="string" class="form-control" id="description" formControlName="description" placeholder="írja ide a leírást">
            </div>

            <div class="form-group mb-4">
                <label for="dateof">Dátum</label>
                <input type="date" class="form-control" id="dateof" formControlName="dateof">
            </div>



            <button class="btn btn-primary" (click)="createTransaction()" [disabled]="transactionForm.invalid">
                Mentés
            </button>
        </form>
    </div>
</div>