<div class="row">
    <div class="col-md-6" id="containerDiv">
        <form [formGroup]="bankaccountForm">
            <div class="form-group mb-4">
                <label for="id">Azonosító</label>
                <input type="text" class="form-control" id="id" formControlName="id" placeholder="Azonosító">
                <div class="text-danger">
                    <small *ngIf="f['id'].errors">Hibás azonosító</small>
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="idOfOwner">Tulaj azonosítója</label>
                <input type="text" class="form-control" id="idOfOwner" formControlName="idOfOwner">
                <div class="text-danger">
                    <small *ngIf="f['idOfOwner'].errors">Kötelező adat!</small>
                </div>
            </div>


            <div class="form-group mb-4">
                <label for="balance">Egyenleg</label>
                <input type="number" class="form-control" id="balance" formControlName="balance" placeholder="123456 FT">
                <div class="text-danger">
                    <small *ngIf="f['balance'].errors">HIBA</small>
                </div>
            </div>



            <button class="btn btn-primary" (click)="createBankaccount()" [disabled]="bankaccountForm.invalid">
                Mentés
            </button>
        </form>
    </div>
</div>