<div class="containter">
    <div class="row">
        <div class="col-md-7">
            <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Keresés tranzakció azonosító alapján">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="search()">Keresés</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">transactionid</th>
                        <th scope="col">accountnumber1</th>
                        <th scope="col">accountnumber2</th>
                        <th scope="col">sumOfTransaction</th>
                        <th scope="col">description</th>
                        <th scope="col">date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td>{{transaction.transactionid}}</td>
                        <td>{{transaction.accountNumber1}}</td>
                        <td>{{transaction.accountNumber2}}</td>
                        <td>{{transaction.sumOfTransaction}}</td>
                        <td>{{transaction.description}}</td>
                        <td>{{transaction.date}}</td>

                        <td ><button class="btn btn-primary"
                                (click)="navigateToTransactionForm(transaction.transactionid)">Szerkesztés</button></td>
                        <td><button class="btn btn-danger"
                                (click)="deleteTransaction(transaction.transactionid)">Törlés</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-success" routerLink="/transaction-form"> Új tranzakció</button>
        </div>
    </div>
</div>