<div class="container pt-3">
    <div class="row">
        <div class="col-md-8">
            <p>AAAAAAAAAAAAAAAAAAA</p>
            <ul>
                <li *ngFor="let bankclient of bankclients" class="mt-2">
                        {{bankclient.name}}, {{bankclient.address}}, {{bankclient.phonenumber}}, {{bankclient.idcardNumber}}, {{bankclient.id}}
                        <button class="btn btn-sm btn-danger" (click)="deleteBankclient(bankclient)">Delete</button>
                </li>
            </ul>
            <form>
                <div class="col-md-8"> 
                    <h5>Ügyfél keresése azonosító alapján</h5>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id">
                    <button class="btn btn-sm btn-primary" (click)="findBankclient(id)"> Keresés </button>
                </div>
            </form>
        </div>
            <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-sm btn-outline-success" (click)="showForm()" *ngIf="!isFormVisible">
                      Új ügyfél felvétele
                    </button>
                    <form *ngIf="isFormVisible">
                      <div class="mb-3">
                        <input type="text" class="form-control" id="id" name="id" hidden [(ngModel)]="id">
                      </div>
                      <div class="mb-3">
                        <label for="name" class="form-label">Teljes név</label>
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
                      </div>
                      <div class="mb-3">
                        <label for="address" class="form-label">Lakcím</label>
                        <input type="text" class="form-control" id="address" name="address"  [(ngModel)]="address">
                      </div>
                      <div class="mb-3">
                        <label for="phonenumber" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phonenumber" name="phonenumber" [(ngModel)]="phonenumber">
                      </div>
                      <button class="btn btn-sm btn-primary" (click)="addBankclient()">
                        Hozzáadás
                      </button>
                    </form>
                  </div>
        </div>
    </div>
</div>